In [1]:
import pandas as pd
import numpy as np

In [2]:
#Importando dataset
df_ordem0 = pd.read_csv('Datasets/olist_order_items_dataset.csv', sep=',', encoding='iso-8859-1')
df_ordem1 = pd.read_csv('Datasets/olist_orders_dataset.csv', sep=',', encoding='iso-8859-1')

In [3]:
#Associando os dois dataframe
df_ordem = pd.merge(df_ordem0, df_ordem1, on='order_id', how='inner')
df_ordem.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00

In [4]:
#Peguei a coluna data limite de envio (shipping_limit_date) para trabalhar com datas
# Convertendo a coluna de datas para o tipo datetime, se necess√°rio
df_ordem['order_approved_at'] = pd.to_datetime(df_ordem['order_approved_at'])

# Extraindo o ano da coluna de datas
df_ordem['ano'] = df_ordem['order_approved_at'].dt.year

In [5]:
#Extraindo colunas nas quais vou trabalhar
df_ordem1 = df_ordem[['product_id', 'price', 'ano', 'seller_id']]

In [6]:
#Eliminando dados repetidos
df1 = df_ordem1.drop_duplicates(subset='seller_id')

In [7]:
#Criando dataframes por ano para compara-los uns com os outros
df_2016 = df1[df1['ano'] == 2016]
df_2017 = df1[df1['ano'] == 2017]
df_2018 = df1[df1['ano'] == 2018]

In [8]:
#Relacionando os anos de 2017 e 2018 para averiguar se produtos foram vendidos em ambos os anos
df_2017_2018 = pd.merge(df_2017, df_2018, on='product_id', how='inner')

In [9]:
#Percebemos que existem 10 produtos que foram vendidos nos respectivos anos
df_2017_2018.head(50)

,product_id,price_x,ano_x,seller_id_x,price_y,ano_y,seller_id_y
0,7088744b00831b410bd17716cb578f39,35.00,2017.0,c1ed9e3daf6154542826a6996af0fb8c,34.50,2018.0,41b14765bd56c8ad10971074380f9c0c
1,4100a608bd0aa524b06ffefba973707b,32.99,2017.0,2a61c271b1ac763450d846849783e922,39.90,2018.0,119c7f1a00ef43fad0e57604e76a747c
2,95d4fd03b0b54ae5c0202828f41bef12,259.60,2017.0,984c273121e743dd14767befe6cb17f5,278.99,2018.0,b0398568231ba5e6734af1881671a317
3,84c79830527ae823029ee6b904cf948c,32.70,2017.0,11d4c477d09821164bca4f70a2eae031,37.88,2018.0,d1c7fa84e48cfa21a0e595167c1c500e
4,0f784f8f15179b9e101beb85796efc1a,26.00,2017.0,92d14edfb62ee5ae7fdff70b0f4e7233,22.50,2018.0,bc8c8d665ec4664d286be0d521722b19
5,b4b50667a9874708d4e3ac962ebb21fa,190.00,2017.0,1967a9e2ad6f51802b093147d861df58,146.99,2018.0,9523fb39dd240aa958e040f8183d64f3
6,18290697e1929309b3195d2931c91b09,214.00,2017.0,a1474fd46fd3430168f7ec202da39408,214.00,2018.0,21c62b998a043ebe31161d38f84929fc
7,6cd51331a07b84149502aa6c9c5b536e,55.00,2017.0,9dd59e43f0c9f0553244e8f9c2fb247e,69.90,2018.0,c33a5c3c983090c8b78a28e65052a20d
8,63d6e7ab30f482382c9dfbbccae7da54,85.00,2017.0,dadc51ef321949ec9a3ab25cd902e23d,104.90,2018.0,b2a6d334e2833acea353624840e25a0e
9,d285360f29ac7fd97640bf0baef03de0,339.00,2017.0,01ed254b9ff8407dfb9d99ba1e17d923,154.91,2018.0,2eb70248d66e0e3ef83659f71b244378

In [10]:
#Relacionando anos 2016 e 2017
df_2016_2017 = pd.merge(df_2016, df_2017, on='product_id', how='inner')

In [11]:
#Percebemos que n√£o teve produtos vendidos em ambos os anos
df_2016_2017

Empty DataFrame
Columns: [product_id, price_x, ano_x, seller_id_x, price_y, ano_y, seller_id_y]
Index: []

In [12]:
#Relacionando anos de 2016 e 2018
df_2016_2018 = pd.merge(df_2016, df_2018, on='product_id', how='inner')

In [13]:
#Percebemos que n√£o teve produtos vendidos em ambos os anos
df_2016_2018

Empty DataFrame
Columns: [product_id, price_x, ano_x, seller_id_x, price_y, ano_y, seller_id_y]
Index: []

In [14]:
# Pre√ßos em 2017 e 2018
precos_2017 = [35.00, 32.99, 259.60, 32.70, 26.00, 190.00, 214.00, 55.00, 85.00, 339.00]
precos_2018 = [34.50, 39.90, 278.99, 37.88, 22.50, 146.99, 214.00, 69.90, 104.90, 154.91]

# Calculando a varia√ß√£o de pre√ßo em R$
variacao_r = [precos_2018[i] - precos_2017[i] for i in range(len(precos_2017))]

# Calculando a varia√ß√£o de pre√ßo em porcentagem
variacao_percentual = [(variacao_r[i] / precos_2017[i]) * 100 for i in range(len(precos_2017))]

for i in range(len(precos_2017)):
    print(f'Produto {i+1}: Varia√ß√£o em R$ = {variacao_r[i]:.2f} | Varia√ß√£o percentual = {variacao_percentual[i]:.2f}%')

Produto 1: Varia√ß√£o em R$ = -0.50 | Varia√ß√£o percentual = -1.43%
Produto 2: Varia√ß√£o em R$ = 6.91 | Varia√ß√£o percentual = 20.95%
Produto 3: Varia√ß√£o em R$ = 19.39 | Varia√ß√£o percentual = 7.47%
Produto 4: Varia√ß√£o em R$ = 5.18 | Varia√ß√£o percentual = 15.84%
Produto 5: Varia√ß√£o em R$ = -3.50 | Varia√ß√£o percentual = -13.46%
Produto 6: Varia√ß√£o em R$ = -43.01 | Varia√ß√£o percentual = -22.64%
Produto 7: Varia√ß√£o em R$ = 0.00 | Varia√ß√£o percentual = 0.00%
Produto 8: Varia√ß√£o em R$ = 14.90 | Varia√ß√£o percentual = 27.09%
Produto 9: Varia√ß√£o em R$ = 19.90 | Varia√ß√£o percentual = 23.41%
Produto 10: Varia√ß√£o em R$ = -184.09 | Varia√ß√£o percentual = -54.30%